// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  background-color: #F7F7F7;
}

.index-button {

  visibility:hidden;
  float:right;
  border-style: solid;
  background-color:black;

  border-radius:10px !important;
  margin-left:  5px;
  margin-top:  -18.750px;
  padding:      10px;
  border-width: 1px;
}

.index-book {
  float:left !important; //foundation last child floats right
  border-style: solid;
  border-width:1px;
  border-radius: 10px;
  border-color: #C5EFF7;
  height:50px;

  > p, h3 {
    display:inline;
    padding-top:5px;
  }
  &:hover{
    // border-color: red;
    > .simple_form > .index-button {
      visibility: visible;
    }
  }

}


.available, .unavailable, .index-book {
  -webkit-transition: border-color .25s ease-in;
  -moz-transition: border-color .25s ease-in;
  -o-transition: border-color .25s ease-in;
  transition: border-color .25s ease-in;
}

.status-toggles {
-webkit-transition: border-color 1s ease-in;
-moz-transition: border-color 1s ease-in;
-o-transition: border-color 1s ease-in;
transition: border-color 1s ease-in;
  > span {
    border-style: solid;
    border-width:2px;
    border-radius: 10px;
    padding: 5px;
  }
  > #toggle-available {
    &:hover {
      border-color: green;
      color:green;
    }
  }
  > #toggle-unavailable {
    &:hover {
      border-color: red;
      color:red;
    }
  }
  > #toggle-new {
    &:hover {
      border-color: purple;
      color: purple;
    }
  }
}


