// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  background-color: #F5F5F5;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  padding-top: 10px;
}

.intro-banner {
  background-color: #885CA4;
  padding: 15px;
  padding-left: 30px;
  margin-bottom: 10px;
  >h1, h3 {
    color: white;
  }
}

#banner {
  margin-top: 10px;
  float:right;
}

.scoreboard {
  // background-color: #885CA4;
  padding-left: 20px;
  border-radius: 10px;
  > h1 {
    color: #9E9E9E;
  }
  > h3, h6 {
    color: #565656;
  }
}

.index-button {
  visibility:hidden;
  float:right;
  border-style: solid;
  color:black;
  background-color:white;
  border-radius:10px !important;
  margin-left:  5px;
  margin-top:  -18.750px;
  padding:      10px;
  border-width: 1px;
}

.button-style {
  margin-top:5px auto;
  background-color: white;
  border-color: purple;
  border-width:1px;
  border-radius:10px !important;
}


.index-book {
  float:left !important; //foundation last child floats right
  border-style: solid;
  border-width:2px;
  border-radius: 10px;
  margin-bottom:2px;
  border-color: #E5D1F2;
  height:60px;
  padding: -5px;
  > .checked_out_user {
    visibility: hidden;
    color:red;
  }

  > .columns {

    > .button {
      background-color:white;
      border-radius:10px;
      border-color: purple;
      border-width: 1px;
      margin-top:2.5px;
      color:black;
      // visibility: hidden;
      float:right;
    }

    > .simple_form {
      > p {
        margin-top: 10px;
      }
      > .button {
      background-color:white;
      border-radius:10px;
      border-color: purple;
      border-width: 1px;
      margin-top:2.5px;
      color:black;
      visibility: hidden;
      float:right;

      -webkit-transition: border-color 1s ease-in;
      -moz-transition: border-color 1s ease-in;
      -o-transition: border-color 1s ease-in;
      transition: border-color 1s ease-in;

        &:hover {

        }
      }
    }
  }

  &:hover{
    // border-color: red;
    > .columns > .simple_form > .button {
      visibility: visible;
    }
    > .checked_out_user {
      visibility: visible;
    }
  }
}

.index-book-text {
          padding-top:5px;
        color:#555555;
}

.available, .unavailable, .index-book {
  -webkit-transition: border-color .25s ease-in;
  -moz-transition: border-color .25s ease-in;
  -o-transition: border-color .25s ease-in;
  transition: border-color .25s ease-in;
}

.status-toggles {
-webkit-transition: border-color 1s ease-in;
-moz-transition: border-color 1s ease-in;
-o-transition: border-color 1s ease-in;
transition: border-color 1s ease-in;
padding-right: 10px;
color: #565656;

  > span {
    border-style: solid;
    border-width:2px;
    // border-radius: 10px;
    margin-right:1px;
    padding: 5px;
    padding-left:12px;
    padding-right: 12px;
  }
  > #toggle-available {
    &:hover {
      border-color: #57BD85;
      color:#57BD85;
    }
  }
  > #toggle-unavailable {
    &:hover {
      border-color: red;
      color:red;
    }
  }
  > #toggle-new {
    &:hover {
      border-color: purple;
      color:purple;
    }
  }
  > #book-drop {
    a {color: #565656;}
    &:hover {
      border-color: #C787F0;
      >a {
        color:#C787F0;
      }
    }
  }
}


.book-show-cover {
  float:right;
  margin-right: 20px;
  padding-top: 20px;
}

.about-page{
  padding-right: 200px;
  padding-left: 200px;
}
