// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  background-color: #F7F7F7;
}

.intro-banner {
  background-color: #885CA4;
  padding: 15px;
  padding-left: 30px;
  margin-bottom: 10px;
  >h1, h3 {
    color: white;
  }
}

#banner {
  margin-top: 10px;
  float:right;
}

.scoreboard {
  background-color: #885CA4;
  border-radius: 10px;
  > h1, h3, h6 {
    color: white;
  }
}

.index-button {

  visibility:hidden;
  float:right;
  border-style: solid;
  color:black;
  background-color:white;

  border-radius:10px !important;
  margin-left:  5px;
  margin-top:  -18.750px;
  padding:      10px;
  border-width: 1px;
}

.button-style {
  margin-top:5px auto;
  background-color: white;
  border-color: purple;
  border-width:1px;
  border-radius:10px !important;
}


.index-book {
  float:left !important; //foundation last child floats right
  border-style: solid;
  border-width:2px;
  // border-radius: 10px;
  margin-bottom:2px;
  border-color: #C5EFF7;
  height:60px;
  padding: -5px;
  > .checked_out_user {
    visibility: hidden;
    color:red;
  }

  > .columns {
    > p {
        // display:inline;
        padding-top:5px;
        // color:red;
      }
    > .simple_form {
      > p {
        margin-top: 10px;
      }
      > .button {
      background-color:white;
      border-radius:10px;
      border-color: purple;
      border-width: 1px;
      margin-top:2.5px;
      color:black;
      visibility: hidden;
      float:right;
      }
    }
  }

  &:hover{
    // border-color: red;
    > .columns > .simple_form > .button {
      visibility: visible;
    }
    > .checked_out_user {
      visibility: visible;
    }
  }
}


.available, .unavailable, .index-book {
  -webkit-transition: border-color .25s ease-in;
  -moz-transition: border-color .25s ease-in;
  -o-transition: border-color .25s ease-in;
  transition: border-color .25s ease-in;
}

.status-toggles {
-webkit-transition: border-color 1s ease-in;
-moz-transition: border-color 1s ease-in;
-o-transition: border-color 1s ease-in;
transition: border-color 1s ease-in;
padding-right: 10px;

  > span {
    border-style: solid;
    border-width:2px;
    border-radius: 10px;
    margin-right:5px;
    padding: 5px;
  }
  > #toggle-available {
    &:hover {
      border-color: green;
      color:green;
    }
  }
  > #toggle-unavailable {
    &:hover {
      border-color: red;
      color:red;
    }
  }
  > #toggle-new {
    &:hover {
      border-color: purple;
      color:purple;
    }
  }
}


